/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Ubuntu:wght@400;500;700&display=swap');

/* global styling */
* {
  margin: 0;
  padding: 0;
  border: none;
}

*, *::before, *::after {
  box-sizing: border-box;
} 

:root {
  --font-family: Ubuntu, sans-serif;
  --dark-blue: #0B2C58;
  --pale-blue: #E5F7FF;
  --pale-blue-opacity: rgba(229, 247, 255, 0.7);
  --blue-green: #71C2E4;
}

/* double reset for font size for easier rem unit calculation and scroll-padding property to account for fixed navigation bar */
html {
  font-size: 62.5%;
}

body {
  background: url(/assets/images/atom-background-image.jpg) center center / cover no-repeat fixed;
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family);
  color: var(--dark-blue);
  text-align: center;
}

.hide {
  display: none;
}

.cursor-pointer:hover {
  cursor: pointer;
}

#start-section {
  background: rgba(229, 247, 255);
  position: absolute;
  width: 32rem;
  height: 50rem;
  padding: 2rem 1.5rem;
  left: 50%;
  top: 50%;
  margin: -25rem 0 0 -16rem;
  border-radius: 2rem;
}

#logo {
  margin-bottom: 2.5rem;
}

/* h1 {
  margin-bottom: 3rem;
} */

p {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.button {
  font-family: var(--font-family);
  width: 10rem;
  height: 4rem;
  margin: 1rem;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 2rem;
  border-radius: 0.5rem;
  background: var(--dark-blue);
  color: #fff;
}

.button:hover {
  transform: scale(1.05);
  transition: 100ms linear;
  background: var(--blue-green);
  color: var(--dark-blue);
}

#username {
  height: 3rem;
  width: 20rem;
  margin-top: 0.5rem;
  font-family: var(--font-family);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-left: 1rem;
}

#question-mark {
  font-size: 1.5rem;
  position: absolute;
  top: 38rem;
  right:4rem;
}

#input-help {
  font-family: var(--font-family);
  font-size: 1.6rem;
  position: absolute;
  top: 41rem;
  right: 0.5rem;
  padding: 1rem 2rem;
}

#start-button {
  position: absolute;
  top: 42.3rem;
  left: 4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#rule-button {
  position: absolute;
  top: 42.3rem;
  right: 4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.correct {
  background: #00F763;
  color: #01212F;
}

.incorrect {
  background: #DA2323;
  color: #fff;
}

